---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Lullabye Records</title>
  </head>
  <body class="p-6">
    <h1 class="text-3xl font-bold mb-2">Lullabye Records</h1>
    <p>rock you to sleep 😴</p><br /><br />
    <a class="underline" href="https://lullabye.bandcamp.com/"
      >https://lullabye.bandcamp.com/</a
    >
    <br /><br />
    <a class="underline" href="https://soundcloud.com/lullabyerecords"
      >https://soundcloud.com/lullabyerecords</a
    >
  </body>
</html>
